*{
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
}
.font-inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
nav{
    max-width:1600px;
    display:flex;
    justify-content: space-around;
    padding: 16px 32px;
    align-items:center;
}
.logo{
    max-width:139px;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap:32px;
    max-width:365px;
}
 nav .menu a{
    text-decoration: none;
    font-size:16px;
    font-weight: 500;
    line-height: 152%;
    color:#000000;
    margin-bottom: 34px;
}
.btn{
background-color: #469165;
color:#FFFFFF;
border-radius: 4px;
max-width:164px;
padding: 12px 16px;
border:none;
font-size: 16px;
font-weight: 600;
cursor:pointer;
}
.banner-parent{
    background-image: url("./assets/hero-bg.png");
    height: 674px;
    width:1600px;
    padding:70px 120px 134px 120px;
    text-align: center;
}
.banner-content{
    display:flex;
    background-color: #FFFFFF;
    height:35px;
    width:210px;
    padding:12px 8px;
    gap:2px;
    border-radius:1000px;
    align-items: center;
}
.first-text{
    font-size:16px;
    font-weight: 500;
    color:#469165;
}
.banner-image{
    max-width:16px;
}
.banner-parent h1{
    font-size: 72px;
    line-height: 84px;
    text-align:center;
    color:#FFFFFF;
    font-family:"Inter", sans-serif;
    margin-bottom:16px;
}
.color{
    color:#30B868;
}
.second-text{
    font-size: 18px;
    line-height: 24px;
    color:#FFFFFF;
    font-family:"Inter", sans-serif;
    margin-bottom:32px;
}
.button-parent{
    /* display:flex; */
    gap:16px;
    align-items:center;
}
.button-parent img{
    display:inline-block;
    /* width:20px;
    height:20px; */
}

.btn-1{
    background-color: #469165;
    color:#FFFFFF;
    font-size: 16px;
    padding:12px 16px;
    border:none;
    border-radius:4px;
    margin-right: 10px;
}
/* .button-parent-2{
    display:flex;
    align-items:center;
}
.button-parent-2{
    display:inline-block;
} */
.btn-2{
  font-size:16px;
  font-weight:600px;
  color:#FFFFFF;
  border-radius:4px;
  border:1px solid rgba(255, 255, 255, 1);
  padding:12px 16px;
}