*{
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
}
.font-inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}
nav{
    max-width:1600px;
    display:flex;
    justify-content: space-around;
    padding: 16px 32px;
    align-items:center;
}
.logo{
    max-width:139px;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap:32px;
    max-width:365px;
}
 nav .menu a{
    text-decoration: none;
    font-size:16px;
    font-weight: 500;
    line-height: 152%;
    color:#000000;
    margin-bottom: 34px;
}
.btn{
background-color: #469165;
color:#FFFFFF;
border-radius: 4px;
max-width:164px;
padding: 12px 16px;
border:none;
font-size: 16px;
font-weight: 600;
cursor:pointer;
}