*{
    margin: 0 auto;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}
.font-inter{
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

/* header section */
nav{
    max-width:1600px;
    display:flex;
    justify-content: space-around;
    padding: 16px 32px;
    align-items:center;
}
.logo{
    max-width:139px;
}
nav .menu{
    display: flex;
    list-style-type: none;
    gap:32px;
    max-width:365px;
}
 nav .menu a{
    text-decoration: none;
    font-size:16px;
    font-weight: 500;
    line-height: 152%;
    color:#000000;
    margin-bottom: 34px;
}
.btn{
background-color: #469165;
color:#FFFFFF;
border-radius: 4px;
max-width:164px;
padding: 12px 16px;
border:none;
font-size: 16px;
font-weight: 600;
cursor:pointer;
}
.btn:hover{
    background-color: lightgreen;
    color:black;
}

/* banner section */
.banner-parent{
    background-image: url("./assets/hero-bg.png");
    height: 674px;
    width:1600px;
    padding:70px 120px 134px 120px;
    text-align: center;
}
.banner-content{
    display:flex;
    background-color: #FFFFFF;
    height:35px;
    width:230px;
    padding:12px 8px;
    gap:2px;
    border-radius:1000px;
    align-items: center;
}
.first-text{
    font-size:16px;
    font-weight: 500;
    color:#469165;
}
.banner-image{
    max-width:16px;
}
.banner-parent h1{
    font-size: 72px;
    line-height: 84px;
    text-align:center;
    color:#FFFFFF;
    font-family:"Inter", sans-serif;
    margin-bottom:16px;
}
.color{
    color:#30B868;
}
.second-text{
    font-size: 18px;
    line-height: 24px;
    color:#FFFFFF;
    font-family:"Inter", sans-serif;
    margin-bottom:32px;
}
.button-parent{
    /* display:flex; */
    gap:16px;
    align-items:center;
}
.button-parent img{
    display:inline-block;
    margin-bottom:-5px;
    gap:10px;
    /* width:20px;
    height:20px; */
}

.btn-1{
    background-color: #469165;
    color:#FFFFFF;
    font-size: 16px;
    padding:12px 16px;
    border:none;
    border-radius:4px;
    margin-right:10px;
    cursor:pointer;
}
.btn-1:hover{
    background-color: lightgreen;
    color:black;
}
.btn-2{
  font-size:16px;
  font-weight:600px;
  background-color: transparent;
  color:#FFFFFF;
  border-radius:4px;
  border:1px solid rgba(255, 255, 255, 1);
  padding:12px 16px;
  cursor:pointer;
}
.btn-2:hover{
    background-color: brown;
    color:black;
}

/* Notes section */
.note-parent{
    display:flex;
    gap:24px;
    flex-direction:column;
    max-width: 1360px;
    margin: 0 auto;
}
.note-heading{
    max-width:1360px;
    font-size:46px;
    margin-top:50px;
    font-family:"Inter", sans-serif;
    color:#001931;
    margin-bottom:1px;
}
.note-para{
    font-size:16px;
    color:#627382;
    font-family:"Inter", sans-serif;
    margin-bottom:44px;
}
.card-parent{
    display:flex;
    gap:24px;
}
.note-card{
    max-width:322px;
    padding:24px;
    border-radius: 8px;
    background-color: #FFFFFF;
    border:none;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.06);
    text-align:center;
}
.note-card h2{
    font-size:24px;
    font-weight: 600;
    margin-bottom:16px;
}
.note-card p{
    font-size:16px;
    line-height: 20px;
    color:#627382;
}
.note-img{
    width:60px;
    height:60px;
    background-color: #F95555;
    border-radius:50px;
    border: 1px solid #000000;
    display:flex;
    align-items: center;
}
.icons-note{
    width:32px;
    height:32px;
}

/* second-brain section */
.brain-parent{
    display:flex;
    gap:60px;
    max-width:1600px;
    padding:120px 120px;
    align-items: center;
    /* margin-bottom:120px; */
    /* margin-top: 120px; */
}
.brain-parent .know-image{
    border-radius:12px;
    width:600px;
    height:600px;
    border:none;
    box-shadow:0 4px 4px 0 rgba(0, 0, 0, 0.2);
    /* margin-top: 120px; */
}
.brain-content{
    margin-top:102px;
    width:700px;
}
.brain-content .solution-text{
    font-size:16px;
    font-weight: 500;
    line-height:20px;
    color:#469165;
    margin-bottom: 16px;
}
.brain-content h1{
    font-size:48px;
    margin-bottom:16px;
}
.brain-content .personal-text{
    font-size:16px;
    line-height: 20px;
    color:#627382;
    margin-bottom:40px;
}
.brain-content .all-text{
    font-size:16px;
    line-height: 20px;
    margin-bottom:16px;
}

/* early access section */
.ready-parent{
    max-width:1360px;
    text-align:center;
    display:flex;
    flex-direction:column;
    background-color: #F7F6F2;
    border-radius:12px;
    padding:80px 40px;
    margin-bottom:120px;
}
.ready-content{
    max-width:1280px;
}
.ready-content h1{
    font-size:40px;
    margin-bottom:16px;
}
.ready-content p{
    font-size:16px;
    line-height: 24px;
    color:#627382;
    margin-bottom:24px;
}

.ready-content .ready-last{
    font-size:16px;
    line-height:20px;
    margin-bottom:30px;
    margin-top:16px;
}
.check-circle{
    margin-bottom:-5px;
}
.btn-ready{
background-color: #469165;
color:#FFFFFF;
border-radius: 4px;
box-shadow:0 10px 20px 0 rgba(0, 0, 0, 0.15);
max-width:194px;
padding: 12px 16px;
border:none;
font-size: 16px;
font-weight: 600;
cursor:pointer;
}
.btn-ready:hover{
   background-color: lightgreen;
   color:black;
}
.icon-last{
    margin-bottom:-5px;
}

/* footer section */
.footer-parent{
    background-color: #001931;
    padding:40px;
    margin:0;
}
.first-footer{
   display:flex;
   /* justify-content: space-between; */
   margin-bottom:84px;
}
.links{
    font-size:20px;
    font-weight: 500;
    line-height: 28px;
    color:#FFFFFF;
}
.icons{
    margin-top:16px;
    gap:16px;
}
.linkedin{
    margin-left:16px;
    margin-right:16px;
}
.footer-hr{
    /* border:1px solid var(--DS New/Colors/Stroke/Gray-Light, rgba(229, 231, 235, 1)); */
    opacity:0.1;
    border:1px solid #E5E7EB;
}
.copyright{
    text-align: center;
    color:#FAFAFA;
    font-size:16px;
    line-height: 24px;
    margin-top:30px;
}